*{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
}
.fw-700{
    font-weight: 700;
}
.fs-90{
    font-size: 90px;
}
.fs-40{
    font-size: 40px;
}
.fs-20{
    font-size: 20px;
}
.fs-25{
    font-size: 25px;
}

.container{
    color: white;
    display: flex;
    flex-direction: column;
}
.header nav a{
    color: #A9DAE8;
    text-decoration: none;
}
.header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin: 30px;
    margin-left: 70px;
    gap: 500px;
}
.header{
    color: #A9DAE8;
    width: 100%;
    height: 80vh;
    text-align: center;
}
.color{
    background-size: 100%;
    background-position-y: -100px;
    box-shadow: inset 0 0 0 1000px #76332060;
    background-image: url(../imgs/bb-2.jpeg);
    background-repeat: no-repeat;
}
.header .title{
    margin-top:15%;
}
#img-lj{
    width: 40vh;
    height: 40vh;
    margin-left: 100px;
    margin-right: 200px;
    border-radius: 60px;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.section-1{
    margin-top: -5vh;
    align-items: center;
    height: 80vh;
    background-color: #C47B59;
    display: flex;
    flex-direction: row;
    border-radius: 60px 60px 0 0;
}
.title-section{
    margin-top: -15vh;
    margin-left: 2vw;
}
.section-2{
    background-color: #F4AE8D;
}
.section-3{
    display: flex;
    flex-direction: column;
    background-color: #FFC9B0;
    justify-content: center;
    text-align: center;
    height: 90vh;
}
.title-section-3{
    margin-top: -15vh;
    margin-bottom: 10vh;
}
.text{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}
.text p{
    margin-left: 30px;
    margin-top: 30px;
}
.img-sec{
    width: 25vw;
    border-radius: 30px;
}
.photos-section{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.section-footer{
    display: flex;
    flex-direction: column;
    color: #A9DAE8;
    background-color: #763320;
}
.section-footer nav a{
    color: #A9DAE8;
    text-decoration: none;
    margin: 80px;
}
.section-footer nav{
}
.section-footer h1{
    margin-top: 10vh;
    margin-bottom: 35vh;
}
.section-footer hr{
    margin-top: 5vh;
    width: 80vw;
}